<a href="https://colab.research.google.com/github/mbux-blip/datasets/blob/master/MICHAEL_BUX_Lab_1G_What's_the_FREQ%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# George Westinghouse CTE High School: **Computer Science Department**

Course: **Intro to Data Science in Python**

# **Lab 1G - What's the FREQ?**

The first step for our analysis is to import our libraries

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

The next step is to import our dataset and assign it to a variable called **atu_clean**

In [0]:
#load the data and assign it to the variable atu_clean
atu_clean = pd.read_csv("https://raw.githubusercontent.com/nschettini/datasets/master/atu_clean%20(1).csv")

# **Clean it up!**

* In Lab 1F, we saw how we could clean data to make it easier to use and analyze.
 * Using the data you cleaned, we can start analyzing a small set of variables from the American Time Use (ATU) survey.
 * The process of cleaning and then analyzing data is very common in Data Science.
* In this lab, we'll learn how we can create frequency tables to detect relationships between categorical variables.
 * Use the data() function to load the atu_clean data file to use in this lab.

# **How do we summarize categorical variables?**

* When we're dealing with categorical variables, we can't just calculate an average todescribe a typical value.
 * (Honestly, what's the average of categories orange, apple and banana, for
instance?)

* When trying to describe categorical variables with numbers, we calculate frequency tables

# **Frequency tables?**

* When it comes to categories, about all you can do is count or tally how often each categorycomes up in the data.
* Fill in the blanks below to answer the following: 

**How many more females than males arethere in our ATU data??**

There are 1,153 more females


---

`atu_clean.groupby(['___']).size()`

---

In [5]:
atu_clean.groupby(['gender']).size()

gender
Female    5823
Male      4670
dtype: int64

Good job ... You got it to work!  Simple, huh?  However, it doesn't "look" that nice.  Try this code and see how it looks:


---

`atu_clean.groupby(['____']).size().to_frame()`

---

In [6]:
atu_clean.groupby(['gender']).size().to_frame()

           0
gender
Female  5823
Male    4670

Good work.  .groupby() is actually one of the MOST important functions you'll ever use as a data scientist.

# **2-way Frequency Tables**

* Counting the categories of a single variable is nice, but often times we want to make comparisons.
* Use a line of code to tally the number of people with physical challenges and their genders.

`atu_clean.groupby(['____', '_____']).size().to_frame()`

 * **Does one gender seem to have a higher occurrence of physical challenges
than the other? If so, which one and explain your reasoning?** Ans here.  Females had a higher occurance in having difficultly than the males by 245.

In [8]:
atu_clean.groupby(['gender','phys_challenge']).size().to_frame()

                          0
gender phys_challenge
Female Has difficulty   775
       No difficulty   5048
Male   Has difficulty   530
       No difficulty   4140

# **Interpreting 2-way frequency tables**

* Recall that there were 1153 more women than men in our data set.
 * If there are more women, then we might expect women to have more physical
challenges (compared to men).
* Instead of using counts we use percentages.

* **Recode your code from before - making a 2-way Frequency table.  This time, assign it to a variable of your choosing - such as atu_freq.**

For example:

```
atu_freq = atu_clean.groupby....
```

Then, in another cell, run the following code

`print(atu_freq/len(atu_clean))`


 * **Does one gender seem to have a higher occurence of physical challenges
than the other? If so, which one and explain your reasoning?**
 * **Did your answer change from before? Why?** 
 There is a higher occurance in difficulty for females rather than males.

In [0]:
atu_freq = atu_clean.groupby(['gender','phys_challenge']).size().to_frame()

In [11]:
print(atu_freq/len(atu_clean))

                              0
gender phys_challenge
Female Has difficulty  0.073859
       No difficulty   0.481083
Male   Has difficulty  0.050510
       No difficulty   0.394549